$basic: black;
$backgroundcolor: #CD7FF8;
$fontsize: 24px;
$align: center;
 
%equal-heights {
  display: flex;
  flex-wrap: wrap;
}
.message{
	@extend %equal-heights;
}

body {
background-color: #AD31F2;
}

table{
  margin-left:auto; 
 margin-right:auto;
  text-align:center;
  border-spacing:5px;
  width:50%;
  font-family: Comic Sans MS;
  border:2px solid black; 
   tr + th{
      font-weight:bold;
   }
   td, th{
    border: 1px solid black;
    background-color: lightgrey;
    padding:5px;
    text-align:$align;
   }
}

#homepage{
  background-color: $backgroundcolor;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding:20px;
  text-align: $align;
  display: inline-block;
    p {
     text-align:$align;
     font-size: $fontsize;
     color:$basic;
      }
      form{
          input[type=text]{
            background-color:#FFFCA0;
          }
          input[type=number]{
            background-color: #DAFFA0;
          }
  
          button{
           @extend %equal-heights;
           margin-left: auto;
           margin-right: auto;
           width:30%;
           height:10%;
           background-color: hotpink;
           display: flex;
          align-items: center;
          justify-content: center;
                  }
              button:hover{
                  background-color: #22FFF9;
                         }
           }
           button::after{
              padding:5px;
              content: " \263A";
           }
  }
h1{
  text-align:$align;
  font-weight: bold;
   color:$basic;
   }

a{
	font-weight:bold;
	font-size:20px;
	color:$basic;
  }
a::before{
	content:"\21d2 Click here ";
	font-weight:bold;
	font-size:20px;
	color:$basic;
}
p{
button{
    @extend %equal-heights;
    margin-left: auto;
	  margin-right: auto;
    width:30%;
    height:10%;
    background-color: $backgroundcolor;
    display: flex;
    align-items: center;
    justify-content: center;
   	}
    }
button:hover{
   	background-color: yellow;
   	}

